body{
background-image: url(../imagenes/Mamiferos_fondo.jpeg);
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-repeat: no-repeat;
    background-size: cover;
    }

  p {
        font-size: 17px;
        font-family: Geneva, Verdana, sans-serif;
    
    }



    table {
        width: 90%;
        background-color:  #d9b38f;
        border: 2px solid;
        border-style: groove;

    }

    a{
        position: fixed;
    }